<!DOCTYPE html>
<html>
<head>
	<%= tabs_tag :open_tabs => { :id => "tabs", :class => "menuTemplate3" } do |tab| %>
  		<%= tab.home      	'Homepage', root_path %>
  		<%= tab.maps 		'Maps', maps_index_path %>
  		<%= tab.statistics	'Statistics', statistics_index_path %>
	<% end %>
  	<title>SaveyDashboard</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
